<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dheerendrakumar.mathsclub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathsClub">
        <activity android:name=".WarmUp"
            android:screenOrientation="portrait"/>
        <activity android:name=".UseFormula"
            android:screenOrientation="portrait"/>
        <activity android:name=".InterchangeTheSign"
            android:screenOrientation="portrait"/>
        <activity android:name=".InterchangeSign"
            android:screenOrientation="portrait"/>
        <activity android:name=".IdentifyAndCompute"
            android:screenOrientation="portrait"/>
        <activity android:name=".FindMissingX"
            android:screenOrientation="portrait"/>
        <activity android:name=".NextInSeries"
            android:screenOrientation="portrait"/>
        <activity android:name=".CodeWordPart3"
            android:screenOrientation="portrait"/>
        <activity android:name=".CodeWordPart2"
            android:screenOrientation="portrait"/>
        <activity android:name=".CodeWordPart1"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityReasoning"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityEquation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityFillBlanks"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityChallengeFriend"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityAscendingDescending"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityGetSum"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityRightWrong"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityFindx"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityMaxMin"
            android:screenOrientation="portrait"/>
        <activity android:name=".GreaterSmaller"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityGameZone"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityTable"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityASM"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityMultiply"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivitySubtract"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityAddition"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>